.DS_Store
__pycache__/
*.py[cod]
*.so
*.log
*~

# Distribution / packaging
env/
gaenv/
env_dir.txt

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Google App Engine
app.yaml

# Django
local_settings.py